apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "k8s-event-grid-bridge-test.fullname" . }}
  labels:
    {{- include "k8s-event-grid-bridge-test.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      {{- include "k8s-event-grid-bridge-test.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "k8s-event-grid-bridge-test.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8s-event-grid-bridge-test.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
          - name: FUNCTIONS_WORKER_RUNTIME
            value: dotnet
          - name: AzureWebJobsStorage
            valueFrom:
              secretKeyRef:
                name: {{ include "k8s-event-grid-bridge-test.fullname" . }}
                key: AzureWebJobsStorage
          - name: EventBridge_EventGrid_Topic_Uri
            value: {{ .Values.azure.eventGrid.topicUri }}
          - name: EventBridge_EventGrid_Topic_Key
            valueFrom:
              secretKeyRef:
                name: {{ include "k8s-event-grid-bridge-test.fullname" . }}
                key: EventGridAuthenticationKey
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
